.contact textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 80%;
    min-height: 200px;
    margin: 20px 0;
}

.contact button {
    display: block;
    border: 2px solid black;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 0 20% 0 auto;
    transition: 0.3s;
}

.contact button:hover {
    color: white;
    background-color: black;
}